* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
.formulario{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textcontra{
  color: #232323;
  font-weight: 500;
  font-family: 'Asap',Arial;
  margin: 0;
}
.espacio{
  margin: 30px 0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 0px;
}
.botonacce{
  background-color: #4742d2;
  border: 0px;
  padding: 10px 50px;
  font-weight: bold;
  color: white;
  font-family: 'Asap',Arial;
  border-radius: 20px;
  cursor: pointer;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cuerpo1{
  background-color: #F3F4F5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imglogo{
  width: 200px;
}

  .cuerpo{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 660px;
  }
  .seccion1{
    background-color: #4742d2;
    width: 25%;
    text-align: center;
    color: white;
    font-family: 'Baloo 2', Arial;
    font-weight: bold;
    height: auto;
    position: relative;
  }
  .seccion1sub1{
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  .inversinom{
    font-size: 30px;
    margin: 0;
  }
  .contenido{
    width: 75%;
    background-color: #F3F4F5;
    padding: 50px 30px;
    text-align: center;
    height: auto;
  }
  .hola{
    color: #4742d2;
    font-family: 'Baloo 2', Arial;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  .text1{
    font-family: 'Asap medium',Arial;
  }
  .contlat{
    color: white;
    font-family: 'Baloo 2', Arial;
    margin: 1px 0;
  }
  .contlat2{
    color: #05DAD3;
    font-family: 'Baloo 2', Arial;
    margin: 10px 0 0px 0;
    font-size: 30px;
    
  }
  .item .link{
    color: #4742d2;
    font-family: 'Baloo 2', Arial;
    font-weight: bold;
    width: 100%;
    font-size: 25px;
    text-align: left;
    cursor: pointer;
    
  }
  #inversiones{
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #4742d2;
  }
  .contenedor1{
    margin: 30px 0;
    padding: 50px 0;
    height: auto;
  }
  .cont1{
    position: relative;
    display: flex;
  }
  .invertag{
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
  }
  .itemconter{
    width: 380px;
    margin: 30px auto;
  }
  .tituloinver{
    text-align: left;
    font-family: 'Asap',Arial;
    font-weight: bold;
     font-size: 17px;
  }
  .inter1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #DCDDF9;
  }
  .textvertical{
    transform: rotate(-90deg);
    height: 20px;
    color: #B1B4FF;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Asap',Arial;
  }
  .textvertical2{
    transform: rotate(-90deg);
    height: 20px;
    color: #FF4D50;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Asap',Arial;
  }
  .titdeu1{
    color: #676767;
    font-size: 10px;
    font-family: 'Asap',Arial;
    padding-top: 10px;
  }
  .tituapor1{
    color: #676767;
    font-size: 15px;
    font-family: 'Asap',Arial;
    padding-bottom: 10px;
  }
  .titdeu2{
    color: black;
    font-size: 10px;
    font-family: 'Asap',Arial;
    padding-top: 10px;
  }
  .tituapor2{
    color: black;
    font-size: 15px;
    font-family: 'Asap',Arial;
    padding-bottom: 10px;
  }
  .alin{
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
  }
  .aportes1{
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border-left: 2.5px solid #B1B4FF;
  }
  .aportes{
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border-left: 2.5px solid #FF4D50;
  }
  .textaport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .titucap{
    text-align: right;
    font-size: 10px;
    font-family: 'Asap medium',Arial;
  }
  .preciocap{
    font-size: 50px;
    color: #4742d2;
    font-family: 'Baloo 2', Arial;
    font-weight: bold;
  }
  .inter2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .descripinter2{
    color: #4742d2;
    font-family: 'Asap medium' ,Arial;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .descripinter2con{
    color: #232323;
    font-family: 'Asap',Arial;
    font-weight: bold;
    font-size: 16px;
  }
  .rentesp{
    color: #232323;
    font-family: 'Asap',Arial;
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
  }
  .contenedorinver{
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  /*========================= RENTABILIDAD ==================================*/
  .contenerent{
    width: 450px;
    margin: 30px auto;
  }
  .espaciorent{
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .rent1{
    height: auto;
    text-align: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #B1B4FF;
  }
  .rentsub{
    font-family: 'Asap semibold';
    font-size: 15px;
  }
  .renttitu{
    font-family: 'Baloo 2';
    font-size: 50px;
    font-weight: bold;
    color: #4742d2;
  }
  .tasarent{
    font-family: 'Asap';
    font-size: 10px;
    color: #232323;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .textrent{
    font-family: 'Asap',Arial;
    font-weight: 500;
    font-size: 15px;
    background-image: url(https://uploads-ssl.webflow.com/619d6c6cb345e26787c9e31e/62dd5a3f72ecb771eb395d9c_Ellipse%20116.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .subtas{
    color: #4742d2;
    font-weight: bold;
    margin-left: 15px;
  }
  .subtas1{
    color: #4742d2;
    font-weight: bold;
    margin-left: 27px;
  }
  .rent2{
    text-align: left;
  }
  .excel{
    margin-top: 20px;
  }
  .excel2{
    padding: 5px 40px 5px 30px;
    background-color: #4742d2;
    font-family: 'Asap',Arial;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    background-image: url('https://uploads-ssl.webflow.com/619d6c6cb345e26787c9e31e/62dd5a429b5436d326407189_Group%20(1).png');
    background-repeat: no-repeat;
    background-position: 82% 50%;
  }
  /*============================== ESTADOS DE CUENTA ===============================*/
  
  .contenedorestado{
    display: flex;
    flex-direction: column;
  }
  .contenedorfecha{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px 0;
  }
  .confondo{
    margin: 30px 0;
    padding: 0 30px;
  }
  .estadofech{
    padding: 5px 0px;
    width: 200px;
    font-family: 'Asap',Arial;
    font-weight: 600;
    font-size: 15px;
    color: black;
  }
  .contenedorfecha p{
    margin: 10px auto;
    width: 100px;
    background-color: #DADADA;
    padding: 5px 0;
    border-radius: 7px;
  }
  .contenedorfecha p:hover {
    margin: 10px auto;
    width: 90px;
    background-color: #4742d2;
    padding: 5px 0;
    border-radius: 7px;
  }
  p:hover .estadofech{
    color: white;
  }
  .item{
    height: 80px;
    overflow: hidden;
    transition: 0.5s;
  }
  .itemactivo{
    height: 100%;
    transition: 0.5s;
  }
  .contenedores{
    opacity: 0;
    transition: 1s;
  }
  .contenedoresactivo{
    opacity: 1;
    transition: 1s;
  }
  .img{
    transition: 1s;
    transform: rotate(0deg);
  }
  .itemimgactivo{
    transition: 1s;
    animation-duration: 0.5s;
    transform: rotate(180deg);
  }
  @media (max-width: 1092px){
    .contenedorinver{
      display: block;
    }
  }
  @media (max-width: 894px){
    .contenedorinver{
      display: block;
    }
    .contenedorfecha{
      display: grid;
      grid-template-columns: repeat(3, 33.3%);
  
    }
    .cuerpo{
      display: flex;
      flex-direction: column;
    }
    .seccion1{
      width: 100%;
    }
    .contenido{
      width: auto;
    }
  }
  @media (max-width: 768px){
    .seccion1sub1{
      min-height: 0;
    }
  }
  @media (max-width: 894px){
    .formulario{
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .itemconter{
      width: 300px;
    }
    .preciocap{
      font-size: 30px;
    }
    .descripinter2con{
      font-size: 12px;
    }
    .contenido{
      padding: 50px 10px;
    }
    .contenedorfecha{
      display: grid;
      grid-template-columns: repeat(2, 50%);
  
    }
    .espaciorent{
      width: 90%;
      margin: 30px auto;
    }
    .rent1{
      width: 50%;
    }
    .rent2{
      width: 50%;
    }
    .contenerent{
      width: 100%;
    }
    .renttitu{
      font-size: 35px;
    }
    .rentsub{
      font-size: 12px;
    }
    .textrent{
      font-size: 12px;
    }
    .excel2{
      font-size: 12px;
      padding: 5px 30px 5px 20px;
    }
  }
  
  